{% extends "base.html" %}

{% block content %}
<h1>The number of likes per day.</h1>
<h2>Set the period:</h2>
<!-- 'novalidate' attribute disabling form validation on the client side for make it by Flask app -->
<!-- 'form.hidden_tag' generates a hidden field that includes a token (from 'SECRET_KEY' config) that is used to protect the form against CSRF attacks -->
<!-- 'form.<field_name>.label' and 'form.<field_name>()' creating <input> with needed attrs: size, CSS, etc. -->
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.date_from.label }}<br>
        {{ form.date_from(size=10, value=period["date_from"]) }}<br>
        <!-- Validation error messages for 'username' field -->
        {% for error in form.date_from.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date_to.label }}<br>
        {{ form.date_to(size=10, value=period["date_to"]) }}<br>
        <!-- Validation error messages for 'password' field -->
        {% for error in form.date_to.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}