{% extends "base.html" %}

{% block content %}
<h1>The number of likes per day.</h1>
<h2>Set the period:</h2>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.date_from.label }}<br>
        {{ form.date_from(size=10, value=period["date_from"]) }}<br>
        
        {% for error in form.date_from.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date_to.label }}<br>
        {{ form.date_to(size=10, value=period["date_to"]) }}<br>
        
        {% for error in form.date_to.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}